# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/node_modules
/.pnp
.pnp.js
/coverage
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
uploads/file-1716995120098.zip
uploads/file-1716995145227.jsonl
uploads/file-1716995154374.csv
uploads/file-1716995278132.py
uploads/file-1716995324626.py
uploads/file-1716995413521.py
uploads/file-1716995469972.py
uploads/file-1716995529501.py
uploads/file-1716995559489.py
uploads/file-1716995800910.py
uploads/file-1716995941030.py
data-tool-6c41e-firebase-adminsdk-cxo0g-7cfdb961ce.json
